body {
  min-height: 100vh;
}
/* HOME.HTML */
.logo-netflix {
  width: 200px;
}
.img-avatar {
  width: 50px;
}
.sparisci {
  display: none;
}
.compari {
  display: block;
}
main a:hover,
footer a:hover {
  color: white !important;
  transition: color 0.3s linear;
}
/* SCROLLBAR RIGHE FILM */
.scroll-wrapper {
  overflow-x: auto;
  scrollbar-width: none;
}

.scroll-wrapper::-webkit-scrollbar {
  display: none;
}

.scroll-row {
  padding: 25px 0;
  position: relative;
}

.scroll-row img {
  object-fit: cover;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 120px;
  height: 160px;
}
.scroll-row img:hover {
  transform: scale(1.1);
  position: relative;
  z-index: 100;
  box-shadow: 2px 2px 10px 2px black;
}
/* GRANDEZZA DELLA IMG DEI FILM */
@media screen and (min-width: 768px) {
  .scroll-row img {
    width: 150px;
    height: 200px;
  }
}
@media screen and (min-width: 992px) {
  .scroll-row img {
    width: 280px;
    height: auto;
  }
}

/* PROFILO.HTML */

.avatar-wrapper {
  width: 130px;
  height: 130px;
}

/* SETTINGS.HTML */

.small-avatar {
  width: 30px;
  height: auto;
}
.main-settings h2 {
  margin: 0;
}
.main-settings a:hover {
  color: black !important;
}
.btn-lightgray {
  background-color: rgb(201, 194, 194);
}
